html {
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  background-image: url("liquid-cheese.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  color: white !important;
}

* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
}

.logo {
  position: fixed;
  top: 3rem;
  left: 3rem;
}

.main_section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 7rem;
  backdrop-filter: blur(1.5px);
}

.main_section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(200px);
  z-index: 100;
  transition: all 0.5s;
  background-color: #798f82b4;
}

.temperature_span {
  font-size: 9rem;
  font-weight: 600;
}

.location {
  font-size: 4rem;
  font-weight: 450;
}

.date,
.weather_short_description {
  font-size: 1.4rem;
}

.weather_info {
  display: flex;
  flex-direction: column;
}

.weather_img {
  font-size: 4rem;
}

.search_section {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search_btn {
  outline: none;
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  margin-right: 40px;
}

.search_btn:hover {
  background-color: #b8dcc7;
}

.search_btn i {
  font-size: 20px;
}

.weather_details {
  margin-top: 8rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: 400;
  color: rgba(212, 212, 212, 0.7);
}

.weather_details h2 {
  font-size: 40px;
  color: rgb(228, 228, 228);
}

span {
  font-size: 22px;
}

/*-------------------------*/

.input-container {
  position: relative;
  margin: 50px auto;
  width: 400px;
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  color: rgb(228, 228, 228);
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(228, 228, 228);
  transition: all 0.3s ease;
  pointer-events: none;
  font-size: 20px;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: rgb(217, 217, 217);
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(228, 228, 228);
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
  color: rgba(106, 106, 106, 0.903);
}

/*----------------------*/
