html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

body {
  background-image: url("rainy-photo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  color: white !important;
}

* {
  padding: 0;
  margin: 0;
}

.logo {
  position: fixed;
  top: 3rem;
  left: 3rem;
}

.main_section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 7rem;
  backdrop-filter: blur(1.5px);
}

.main_section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(150px);
  z-index: 100;
  transition: all 0.5s;
}

.temperature_span {
  font-size: 9rem;
  font-weight: 600;
}

.location {
  font-size: 4rem;
  font-weight: 450;
}

.date,
.weather_short_description {
  font-size: 1.4rem;
}

.weather_info {
  display: flex;
  flex-direction: column;
}

.weather_icon {
  font-size: 4rem;
}
